nav{
	background-color: map-get($map:$paleta, $key:"uno");
	display: flex;
	justify-content: space-between;
	align-items: center;
	ul{
		list-style: none;
		background-color: map-get($map:$paleta, $key:"uno");
		display: inline-block;
		text-align: right;
		text-indent: 2rem;
		margin-right: 2rem;
		li{
			display: inline-flex;
			height: 30%;
			a{
				font-size: 1.8rem;
				color: lightgray;
				text-decoration-line: none;
			}
		}
	}
}


.navback{
	background-color: map-get($map:$paleta, $key:"uno");
}

.navLogo{
	width: 8rem;
	height: 8rem;
}

.textonav{
			font-size: 1.8rem;
			color: lightgray;
			text-decoration-line: none;
}


@media(max-width: 840px){
	nav ul li{
				display: block;
				height: 30%;
				a{
					font-size: 1.3rem;
					color: lightgray;
					text-decoration-line: none;
				}
	}

}

@media(max-width: 550px){


	nav{
		background-color: #324851;
		display: block;
		justify-content: center;
		text-align: center;
		ul{
			list-style: none;
			background-color: #324851;
			display: block;
			text-align: center;
			text-indent: 2rem;
			margin-right: 2rem;
			li a{
				font-size: 1.3rem;
				color: lightgray;
				text-decoration-line: none;
			}

		}
	}
}